<div class="interactive-wrapper">
  <div class="ofm-awards-index">
      <div class='ofm-next-up'>
      <div class='ofm-next-up__image' style='background-image:url(https://uploads.guim.co.uk/2018/10/09/sundaylunch.jpg)'></div>
      <a class='ofm-next-up__link'></a>
      <div class='ofm-next-up__label'>
        <div class='ofm-next-up__label__type'>Continue browsing</div>
        <div class='ofm-next-up__label__name'>
          <span class='text'>Best Sunday lunch</span><span class='icon'>&nbsp;<span class='icon__obj'><svg width="15" height="14" viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg"><path d="M.4 7.57h11.475l-4.5 5.385.585.585 6.255-6.27v-.6L7.96.4l-.585.585 4.5 5.385H.4z" fill="#121212" fill-rule="evenodd"/></svg></span></span>
        </div>
      </div>
    </div>
    <div class='ofm-index'>
      <div class='ofm-index__expand'>
        <span class='ofm-index__expand__label'>
          <span class='text'>Browse all the awards</span><span class='icon'>&nbsp;<span class='icon__obj'><svg width="12" height="13" viewBox="0 0 12 13" xmlns="http://www.w3.org/2000/svg"><path d="M7 5.324h5v2H7v5H5v-5H0v-2h5v-5h2v5z" fill="#BB3B80" fill-rule="evenodd"/></svg></span></span>
        </span>
      </div>
      <div class='ofm-index__all'>
        <div class='ofm-index__all__links'>
          <a class='active listing'><span class='text'>Best restaurant</span><span class='icon'><span class='icon__obj'><svg width="11" height="10" viewBox="0 0 11 10" xmlns="http://www.w3.org/2000/svg"><path d="M.4 5.44h8.067L5.304 9.227l.41.412 4.398-4.408v-.422L5.715.4l-.411.411 3.163 3.786H.4z" fill="#FFF" fill-rule="evenodd"/></svg></span></span></a>
          
          <a class='active listing'><span class='text'>Best food personality</span><span class='icon'><span class='icon__obj'><svg width="11" height="10" viewBox="0 0 11 10" xmlns="http://www.w3.org/2000/svg"><path d="M.4 5.44h8.067L5.304 9.227l.41.412 4.398-4.408v-.422L5.715.4l-.411.411 3.163 3.786H.4z" fill="#FFF" fill-rule="evenodd"/></svg></span></span></a>

          <a class='active listing'><span class='text'>Best Sunday lunch</span><span class='icon'><span class='icon__obj'><svg width="11" height="10" viewBox="0 0 11 10" xmlns="http://www.w3.org/2000/svg"><path d="M.4 5.44h8.067L5.304 9.227l.41.412 4.398-4.408v-.422L5.715.4l-.411.411 3.163 3.786H.4z" fill="#FFF" fill-rule="evenodd"/></svg></span></span></a>

          <span class='inactive listing'>Best cheap eats</span>
          <span class='inactive listing'>Outstanding achievement</span>
          <span class='inactive listing'>Best new cookbook</span>
          <span class='inactive listing'>Best newcomer</span>
          <span class='inactive listing'>Lifetime achievement</span>
          <span class='inactive listing'>Best place to drink</span>
          <span class='inactive listing'>Instagram feed for food lovers</span>
          <span class='inactive listing'>Best young chef</span>
          <span class='inactive listing'>Independent retailer</span>
          <span class='inactive listing'>Best ethical food project</span>
          <span class='inactive listing'>Local food hero</span>
          <span class='inactive listing'>Best producer</span>
        </div>      
      </div>
    </div>

  </div>
</div>
